<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267493651491-31n8rop5k58c9uravrev2p62cg76dlt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267493651491-31n8rop5k58c9uravrev2p62cg76dlt7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJRwxNQExlQA_ScwKrYLXcBmpMncX3HcU</string>
	<key>GCM_SENDER_ID</key>
	<string>267493651491</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uran.FirebaseChatSiwftUI</string>
	<key>PROJECT_ID</key>
	<string>chatfirebaseswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebaseswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267493651491:ios:e1da07a0f05112c90ead96</string>
</dict>
</plist>
